/build-KAVI-Desktop_Qt_5_10_1_MinGW_32bit-Debug/.qmake.stash
/build-KAVI-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/CheckUtils.o
/build-KAVI-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/Convertor.o
/build-KAVI-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/DataWidget.o
/build-KAVI-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/DefinitionClassDialog.o
/build-KAVI-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/DefinitionClassInfo.o
/build-KAVI-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/DefinitionEdit.o
/build-KAVI-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/DefinitionPredicateDialog.o
/build-KAVI-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/DefinitionPredicateInfo.o
/build-KAVI-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/DiagramElement.o
/build-KAVI-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/DiagramEvents.o
/build-KAVI-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/DiagramWidget.o
/build-KAVI-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/DomainDescDialog.o
/build-KAVI-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/DrivenEditWidget.o
/build-KAVI-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/Edge.o
/build-KAVI-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/EdgePoint.o
/build-KAVI-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/EdgeStructure.o
/build-KAVI-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/EditWidget.o
/build-KAVI-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/GraphClass.o
/build-KAVI-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/igraph.o
/build-KAVI-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/InfoPanel.o
/build-KAVI-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/KAVI.exe
/build-KAVI-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/KAVIClassKB.o
/build-KAVI-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/KAVIKB.o
/build-KAVI-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/KAVIMainWindow.o
/build-KAVI-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/KAVIPredicateKB.o
/build-KAVI-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/KnowledgeBaseClassEditDialog.o
/build-KAVI-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/KnowledgeBaseEdit.o
/build-KAVI-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/KnowledgeBasePredicateEditDialog.o
/build-KAVI-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/main.o
/build-KAVI-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/moc_DefinitionClassDialog.cpp
/build-KAVI-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/moc_DefinitionClassDialog.o
/build-KAVI-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/moc_DefinitionClassInfo.cpp
/build-KAVI-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/moc_DefinitionClassInfo.o
/build-KAVI-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/moc_DefinitionEdit.cpp
/build-KAVI-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/moc_DefinitionEdit.o
/build-KAVI-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/moc_DefinitionPredicateDialog.cpp
/build-KAVI-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/moc_DefinitionPredicateDialog.o
/build-KAVI-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/moc_DefinitionPredicateInfo.cpp
/build-KAVI-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/moc_DefinitionPredicateInfo.o
/build-KAVI-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/moc_DiagramWidget.cpp
/build-KAVI-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/moc_DiagramWidget.o
/build-KAVI-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/moc_DomainDescDialog.cpp
/build-KAVI-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/moc_DomainDescDialog.o
/build-KAVI-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/moc_DrivenEditWidget.cpp
/build-KAVI-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/moc_DrivenEditWidget.o
/build-KAVI-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/moc_EditWidget.cpp
/build-KAVI-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/moc_EditWidget.o
/build-KAVI-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/moc_InfoPanel.cpp
/build-KAVI-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/moc_InfoPanel.o
/build-KAVI-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/moc_KAVIMainWindow.cpp
/build-KAVI-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/moc_KAVIMainWindow.o
/build-KAVI-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/moc_KnowledgeBaseClassEditDialog.cpp
/build-KAVI-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/moc_KnowledgeBaseClassEditDialog.o
/build-KAVI-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/moc_KnowledgeBaseEdit.cpp
/build-KAVI-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/moc_KnowledgeBaseEdit.o
/build-KAVI-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/moc_KnowledgeBasePredicateEditDialog.cpp
/build-KAVI-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/moc_KnowledgeBasePredicateEditDialog.o
/build-KAVI-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/moc_OperatorsEdit.cpp
/build-KAVI-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/moc_OperatorsEdit.o
/build-KAVI-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/moc_OperatorsPredicateDialog.cpp
/build-KAVI-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/moc_OperatorsPredicateDialog.o
/build-KAVI-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/moc_OperatorsPredicateInfo.cpp
/build-KAVI-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/moc_OperatorsPredicateInfo.o
/build-KAVI-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/moc_OperatorsVariableDialog.cpp
/build-KAVI-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/moc_OperatorsVariableDialog.o
/build-KAVI-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/moc_OperatorsVariableInfo.cpp
/build-KAVI-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/moc_OperatorsVariableInfo.o
/build-KAVI-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/moc_predefs.h
/build-KAVI-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/moc_ProblemsEdit.cpp
/build-KAVI-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/moc_ProblemsEdit.o
/build-KAVI-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/moc_ProblemsObjectDialog.cpp
/build-KAVI-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/moc_ProblemsObjectDialog.o
/build-KAVI-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/moc_ProblemsObjectInfo.cpp
/build-KAVI-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/moc_ProblemsObjectInfo.o
/build-KAVI-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/moc_ProblemsPredicateDialog.cpp
/build-KAVI-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/moc_ProblemsPredicateDialog.o
/build-KAVI-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/moc_ProblemsPredicateInfo.cpp
/build-KAVI-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/moc_ProblemsPredicateInfo.o
/build-KAVI-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/moc_TreeModel.cpp
/build-KAVI-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/moc_TreeModel.o
/build-KAVI-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/Node.o
/build-KAVI-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/NodeStructure.o
/build-KAVI-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/OperatorsEdit.o
/build-KAVI-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/OperatorsPredicateDialog.o
/build-KAVI-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/OperatorsPredicateInfo.o
/build-KAVI-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/OperatorsVariableDialog.o
/build-KAVI-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/OperatorsVariableInfo.o
/build-KAVI-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/ProblemsEdit.o
/build-KAVI-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/ProblemsObjectDialog.o
/build-KAVI-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/ProblemsObjectInfo.o
/build-KAVI-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/ProblemsPredicateDialog.o
/build-KAVI-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/ProblemsPredicateInfo.o
/build-KAVI-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/qrc_KAVIIcons.cpp
/build-KAVI-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/qrc_KAVIIcons.o
/build-KAVI-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/qrc_KAVIImages.cpp
/build-KAVI-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/qrc_KAVIImages.o
/build-KAVI-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/TreeItem.o
/build-KAVI-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/TreeModel.o
/build-KAVI-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/XMLUtils.o
/build-KAVI-Desktop_Qt_5_10_1_MinGW_32bit-Debug/KAVIConfigs/planners/KAVIPlanners.xml
/build-KAVI-Desktop_Qt_5_10_1_MinGW_32bit-Debug/KAVIKBFile/classKB.xml
/build-KAVI-Desktop_Qt_5_10_1_MinGW_32bit-Debug/KAVIKBFile/predicateKB.xml
/build-KAVI-Desktop_Qt_5_10_1_MinGW_32bit-Debug/KAVIPlanners/blackbox.exe
/build-KAVI-Desktop_Qt_5_10_1_MinGW_32bit-Debug/KAVIPlanners/cygwin1.dll
/build-KAVI-Desktop_Qt_5_10_1_MinGW_32bit-Debug/KAVIPlanners/lpg-td-1.0.exe
/build-KAVI-Desktop_Qt_5_10_1_MinGW_32bit-Debug/KAVIPlanners/metric-ff.exe
/build-KAVI-Desktop_Qt_5_10_1_MinGW_32bit-Debug/Makefile
/build-KAVI-Desktop_Qt_5_10_1_MinGW_32bit-Debug/Makefile.Debug
/build-KAVI-Desktop_Qt_5_10_1_MinGW_32bit-Debug/Makefile.Release
/build-KAVI-Desktop_Qt_5_10_1_MinGW_32bit-Debug/object_script.KAVI.Debug
/build-KAVI-Desktop_Qt_5_10_1_MinGW_32bit-Debug/object_script.KAVI.Release
/build-KAVI-Desktop_Qt_5_10_1_MinGW_32bit-Debug/ui_DefinitionClassDialog.h
/build-KAVI-Desktop_Qt_5_10_1_MinGW_32bit-Debug/ui_DefinitionClassInfo.h
/build-KAVI-Desktop_Qt_5_10_1_MinGW_32bit-Debug/ui_DefinitionPredicateDialog.h
/build-KAVI-Desktop_Qt_5_10_1_MinGW_32bit-Debug/ui_DefinitionPredicateInfo.h
/build-KAVI-Desktop_Qt_5_10_1_MinGW_32bit-Debug/ui_DomainDescDialog.h
/build-KAVI-Desktop_Qt_5_10_1_MinGW_32bit-Debug/ui_KAVIMainWindow.h
/build-KAVI-Desktop_Qt_5_10_1_MinGW_32bit-Debug/ui_KnowledgeBaseClassEditDialog.h
/build-KAVI-Desktop_Qt_5_10_1_MinGW_32bit-Debug/ui_KnowledgeBaseEdit.h
/build-KAVI-Desktop_Qt_5_10_1_MinGW_32bit-Debug/ui_KnowledgeBasePredicateEditDialog.h
/build-KAVI-Desktop_Qt_5_10_1_MinGW_32bit-Debug/ui_OperatorsPredicateDialog.h
/build-KAVI-Desktop_Qt_5_10_1_MinGW_32bit-Debug/ui_OperatorsPredicateInfo.h
/build-KAVI-Desktop_Qt_5_10_1_MinGW_32bit-Debug/ui_OperatorsVariableDialog.h
/build-KAVI-Desktop_Qt_5_10_1_MinGW_32bit-Debug/ui_OperatorsVariableInfo.h
/build-KAVI-Desktop_Qt_5_10_1_MinGW_32bit-Debug/ui_ProblemsObjectDialog.h
/build-KAVI-Desktop_Qt_5_10_1_MinGW_32bit-Debug/ui_ProblemsObjectInfo.h
/build-KAVI-Desktop_Qt_5_10_1_MinGW_32bit-Debug/ui_ProblemsPredicateDialog.h
/build-KAVI-Desktop_Qt_5_10_1_MinGW_32bit-Debug/ui_ProblemsPredicateInfo.h
/KAVI/KAVI.pro.user
/build-KAVI-Desktop_Qt_5_10_1_MinGW_32bit-Debug/CRASHDUMP
/build-KAVI-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/moc_SolutionSettingsDialog.cpp
/build-KAVI-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/moc_SolutionSettingsDialog.o
/build-KAVI-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/SolutionSettingsDialog.o
/build-KAVI-Desktop_Qt_5_10_1_MinGW_32bit-Debug/ui_SolutionSettingsDialog.h
/build-KAVI-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/ExecPlanner.o
/build-KAVI-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/moc_ExecPlanner.cpp
/build-KAVI-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/moc_ExecPlanner.o
/build-KAVI-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/moc_PlanningDialog.cpp
/build-KAVI-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/moc_PlanningDialog.o
/build-KAVI-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/PlannerSuggestion.o
/build-KAVI-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/PlanningDialog.o
/build-KAVI-Desktop_Qt_5_10_1_MinGW_32bit-Debug/ui_PlanningDialog.h
/build-KAVI-Desktop_Qt_5_10_1_MinGW_32bit-Debug/debug/PlanAnalyzer.o
/build-KAVI-Desktop_Qt_5_10_1_MinGW_32bit-Debug/test.html
/build-KAVI-Desktop_Qt_5_10_1_MinGW_32bit-Debug/metric-ff.exe.stackdump
/build-KAVI-Desktop_Qt_5_10_1_MinGW_32bit-Debug/
/build-KAVI-Desktop_Qt_5_10_1_MinGW_32bit-Release/
